@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

.root {
  position: fixed;
  overflow: hidden;
}

body {
  font-family: "Playfair Display Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative text-white max-w-2xl neo-brutalism-blue p-4;
  }

  .dark-3d-btn {
    @apply py-1 px-2 rounded-lg text-[#0f3877] text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 flex justify-center items-center gap-3;
  }

  .profile-btn {
    @apply bg-pink-300 py-3 px-6 rounded-lg font-nunito font-medium text-center text-white;
  }

  .container {
    @apply md:max-w-[1200px] md:m-auto md:px-4;
  }
}

.neo-brutalism-blue {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  border-radius: 10px;
  color: #000;
  border: 3px solid #0f3877;
}

.neo-brutalism-white {
  background: #0f3877;
  color: #fff;
}

.profile-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project-box-shadow {
  box-shadow: 0px 8px 64px 0px rgba(112, 144, 176, 0.2);
}
